DJANGO_SECRET_KEY=replace-this-with-a-secure-secret-key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,ec2-public-ip.compute.amazonaws.com
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost,http://ec2-public-ip.compute.amazonaws.com
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False

POSTGRES_DB=furnituresystem
POSTGRES_USER=furnituresystem_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
