DJANGO_SECRET_KEY=replace-this-with-a-secure-secret-key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=your-ec2-public-dns,your-ec2-public-ip
DJANGO_CSRF_TRUSTED_ORIGINS=http://your-ec2-public-dns,http://your-ec2-public-ip
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False

POSTGRES_DB=furnituresystem
POSTGRES_USER=furnituresystem_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
